@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using TypeExtensions = Force.Reflection.TypeExtensions
@{
    Type type = Model.GetType();
    string dn = null;
    var ei = type
        .GetInterfaces()
        .FirstOrDefault(x => x.IsGenericType && x.GetGenericTypeDefinition() == typeof(IEnumerable<>));
        
    if (ei != null)
    {
        var gt = ei.GetGenericArguments().First();
        dn = gt.GetCustomAttribute<DisplayAttribute>()?.Name ?? gt.Name;
    }
}
@if (dn != null)
{
    <h2>@dn List</h2>
}
<ul>
    @foreach (var m in Model)
    {
        if (m == null)
        {
            continue;
        }
        
        object id = 0;
        TypeExtensions.TryGetValue(m, "Id", out id);
        if (id != null)
        {
            <li>@Html.ActionLink((string) m.ToString(), "Display", new {Id = id})</li>
        }
    }
</ul>